.category {
  margin: 32px 0;

  display: flex;
}

.category button {
  padding: 12px 16px;
  gap: 10px;
  margin-right: 16px;

  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;

  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;

  transition: all 0.5s;

  color: #ecf1f0;
}

.active {
  background: #ecf1f0 !important;
  border: 1px solid #ecf1f0 !important;

  color: #11011e !important;
}

.category button:hover {
  box-shadow: 0 0 10px #ecf1f0;
}

.category button:last-child {
  margin-right: 0;
}
