@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  background-color: rgba(17, 1, 30, 1) !important;
  background-image: url("../public/fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

ul {
  list-style-type: none;
  display: inline-flex;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0 !important;
}
